/*Acceder, */
.navbar {
  font-family: "Inter-Medium", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 4px rgb(3 27 78 / 10%);
  font-size: 14px;
  line-height: 24px;
  z-index: 2;

}

.container-nav {
  background: #fff;
}

nav a {
  color: #ad89c4 !important;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  transition: color .2s ease-out, blue .2s ease-out;
}

nav a:hover {

  color: #ad38fb !important;

}

/*footer */

.footer-style {
  padding-top: 40px;
  background-color: #ad89c4;
}

footer {
  color: white;
  width: 100%;
}

footer h3 {
  margin-bottom: 30px;
  font-weight: 800;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}

footer .footer-col {
  margin-bottom: 30px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}


* {
  margin: 0;
  padding: 0;
}

.table {
  margin-bottom: 0px;
}


.carousel .img {
  height: 300px;
  object-fit: cover;
}